{{define "title"}}
Markdown to HTML
{{end}}

{{define "content"}}
<main class="container">
    <h1 class="text-centered">Markdown to HTML</h1>

    <div class="grid">
        <div>
            <form id="markdown-form">
                <input type="hidden" name="CSRF" value="{{with .CSRF}}{{.}}{{end}}" />
                <label>
                    Markdown
                    <textarea
                        name="markdown"
                        placeholder="Write some markdown here..."
                        aria-label="Markdown text"
                        rows="15"
                    ></textarea>
                </label>
            </form>

            <button
                hx-post="/markdown-to-html"
                hx-trigger="click"
                hx-target="#converted-html"
                hx-include="#markdown-form"
            >
                Convert
            </button>
        </div>

        <div>
            <div class="grid">
                <label>HTML</label>
            </div>

            <article class="html-container">
                <button
                    id="copy-html-button"
                    type="button"
                    class="outline contrast"
                    data-tooltip="Copy!"
                    data-placement="bottom">
                    ✂️
                </button>

                <div id="converted-html"></div>
            </article>
        </div>
    </div>
</main>
{{end}}
