{{define "title"}}
Markdown to HTML
{{end}}

{{define "content"}}
<main class="container">
    <h1 class="text-centered">Markdown to HTML</h1>

    <div class="grid">
        <div>
            <input type="hidden" name="CSRF" value="{{with .CSRF}}{{.}}{{end}}" />
            <label>
                Markdown
                <textarea
                    hx-post="/markdown-to-html"
                    hx-trigger="keyup delay:500ms input"
                    hx-include="[name='CSRF']"
                    hx-target="#converted-html"
                    name="markdown"
                    placeholder="Write some markdown here..."
                    aria-label="Markdown text"
                    rows="15"
                ></textarea>
            </label>
        </div>

        <div>
            <label>HTML</label>
            <article class="html-container">
                <div id="converted-html"></div>
            </article>
        </div>
    </div>
</main>
{{end}}
